
.fll{
    float: left;
}
.flr{
    float: right;
}
.clearfix{
    &::after{
        content:"";
        display: block;
        clear: both;
        overflow: hidden;
    }
}
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #f00
}