.header{
    height: 60px;
    background: #409eff;
    h1{
        color: #fff;
        line-height: 2;
        padding-left: 80px;
    };
    .user{
        color: #fff;
        padding-right: 60px;
    }
}
.username{
    padding: 0 30px;
}

.Bmap{
    height: 400px;
}
// /deep/ .BMap_mask{
//     width: 100%;
//     height: 100%;
// }